{% if side['pos_plots'] is not none %}
<h3>Player Positions</h3><br>
    {% for plot in side['pos_plots'] %}
        <a name = {{'#'+side['pos_names'][loop.index]}}
        <h3>{{side['pos_names'][loop.index]}}</h3><br>
        <img src={{url_for('static', filename=plot)}}><br>
    {% endfor %}
{% endif %}