{% if side['ward_plots'] is not none %}
<h3>Wards</h3><br>
    {% for plot in side['ward_plots'] %}
        <a name = {{side['ward_links'][loop.index]}}
        <h3>{{side['ward_title'][loop.index]}}</h3>
        <img src={{url_for('static', filename=plot)}}><br>
    {% endfor %}
{% endif %}